#non-vegetarian{
    float: left;
    margin: 2%;
    block-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}

#vegetarian{
    float: left;
    margin: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;


}

#gluten-free{
    float: left;
    margin: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;

}

.ingredient-options{
    margin-top: 10%;
}